*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    width: 100%;
}

header{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(fotos/asesorai.JPG);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.head{
  background: rgba(228, 228, 228, 0);
  z-index: 999;
  position: relative;
}

.head-1{
display: flex;
justify-content: center;
}

.nav{
  position: absolute;
  z-index: 999;

}

.nav-2{
position: absolute;
display: none;
opacity: 0;
}

.logo{
  max-width: 13rem;
}



.nav-list{
  display: flex;
  list-style-type: none;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}



.nav-list-2{
  display: flex;
  list-style-type: none;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.nav-list li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.abrir-menu{
  display: none;
}


.cerrar-menu{
  display: none;
}

.abrir-menu{
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

.cerrar-menu{
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: rgba(255, 255, 255, 0);;
}

.cerrar-menu img, .cerrar-menu img{
  width: 2rem;
}

.btn-img{
  z-index: 999;
  width: 2rem;
}

/*Logo centrado*/
header .fav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  z-index: 998;
}

.logo-res{
width: clamp(10rem, 3vw, 15rem);
position: relative;
display: none;
}

.equ{
  z-index: 999;
display: flex;
padding:  1rem;
align-items: center;
justify-content: space-between;
}


.presen{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 8rem 0rem;
}

.presen-1{
    position: relative;
}

.presen-prin{
    text-align: center;
}

.presen-1 h1{
    color: rgb(0,0, 128);
    font-size: clamp(2.8rem, 6vw, 4rem);
    padding: 1rem;
}

.presen-1 p{
    font-size: clamp(1.3rem, 4vw, 2rem);
    line-height: 2rem;
    padding-bottom: 1.5rem;
}

.presen-1 a{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: rgb(0,0, 128);
}

.presen-2{
    background: rgba(151, 151, 151, 0.2);
    text-align: center;
    position: relative;
    padding: 1.5rem 0;
}

.presen-2 img{
    width: 20%;
}

.presen-2 h1{
    color: rgb(0,0, 128);
    font-size: clamp(2.3rem, 4vw, 3rem);
    padding: 1rem;
}

.presen-2 p{
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    line-height: 2rem;
    padding-bottom: 2rem;
}

.presen-2 a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(0,0, 128);
    font-weight: 900;
}


.mejor{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.mejor-1,.mejor-2,.mejor-3,.mejor-4,.mejor-5,.mejor-6{
    text-align: center;
    background: rgb(0,0, 128);
    padding: 2rem 0;
}

.mejor-1 img,.mejor-2 img,.mejor-3 img,.mejor-4 img,.mejor-5 img,.mejor-6 img{
    width: 20%;
}

.mejor-1 h1,.mejor-2 h1,.mejor-3 h1,.mejor-4 h1,.mejor-5 h1,.mejor-6 h1{
    color: rgb(253, 253, 253);
    font-size: 2.7rem;
    padding: 1.5rem;
}

.mejor-1 p, .mejor-2 p,.mejor-3 p,.mejor-4 p,.mejor-5 p,.mejor-6 p{
    color: white;
    padding-bottom: 2rem;
}

.mejor-1 a, .mejor-2 a,.mejor-3 a,.mejor-4 a,.mejor-5 a,.mejor-6 a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    
}


@media screen and (min-width:750px){
    .presen{
        grid-template-columns: repeat(2, 1fr);
        margin: 3rem;
    }

    .presen-1:first-child{
        grid-column: 1/3;
    }

    .mejor{
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem;
    }

}

@media screen and (min-width:1061px) {
    .presen{
        grid-template-columns: 45% repeat(2, 1fr);
        grid-template-rows: 50% 10% 40%;
        gap: .5rem;
        margin: 4rem 2rem;
    }

    .presen-1:first-child{
        grid-column: 1/1;
        grid-row: 1/4;
    }

    .presen-prin{
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        text-align: left;
        padding: 3rem;
    }

    .presen-prin p{
        padding: 1rem;
        line-height: 2.5rem;
    }


    .presen-1 a{
       position: absolute;
       top: 80%;
       left: 40%;
       transform: translate(-50% -50%); 
    }

    .presen-2:nth-child(2){
        grid-row: 1/3;
    }

    .presen-2:nth-child(4){
        grid-row: 2/4;
    }

    .mejor{
        margin: 5rem 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .mejor-1:hover{
        color: white;
        background: url(img/agroquimicoss.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .3s all ease-in-out;
        z-index: 999;
      }

      .mejor-2:hover{
        color: white;
        background: url(img/fuggggg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .3s all ease-in-out;
        z-index: 999;
      }

      .mejor-3:hover{
        color: white;
        background: url(img/herbicidas.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .3s all ease-in-out;
        z-index: 999;
      }

      .mejor-4:hover{
        color: white;
        background: url(img/fericidas.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .3s all ease-in-out;
        z-index: 999;
      }

      .mejor-5:hover{
        color: white;
        background: url(img/insecticidas.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .3s all ease-in-out;
        z-index: 999;
      }

      .mejor-6:hover{
        color: white;
        background: url(img/asesoria-man.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .3s all ease-in-out;
        z-index: 999;
      }

      .mejor-1:hover h1{
        color: white;
        z-index: 2;
      }
      
      .mejor-1:hover p{
        z-index: 2;
      }
      
      .mejor-1:hover img{
        z-index: 4;
      }
      
      .mejor-1:hover .capa{
          width: 100%;
          height: 100%;
      }
      
      .capa{
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 0%;
          background: rgba(9, 9, 122, 0.637);
          opacity: 0.5;
          z-index: 0;
      }
}


@media screen and (width <= 1061px){


  .logo-res{
    display: block;
  }

  .intro-p{
      line-height: 2.3rem;
  }

  .abrir-menu,.cerrar-menu{
    display: block;
  }

  .abrir-menu{
      position: relative;
      
  }

  .nav{
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .nav-2{
  display: none;
    opacity:0;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1.6rem 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .2);
    z-index: 999;
    background: rgb(255, 255, 255);
    height: 100vh;
    visibility: hidden;
  }

  .logo{
      position: relative;
      left: -3rem;
      display: none;
  }

  .nav-2.visible{
    opacity: 20;
    visibility: visible;
    background: rgb(0, 0, 128);
    height: 100vh;
    z-index: 1;
  }

  .nav-list-2{
    flex-direction: column;
    align-items: end;
    gap: 10px;
    position: relative;
  }

  .nav-list-2 li a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }

  .mapadiv{
      width: 100%;
      left: -10px;
  }
}


.pie-pagina{
  margin-top: 10rem;
  width: 100%;
  background: rgb(0, 0, 128);
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}

.pie-pagina .grupo-1 .box h2{
  color: white;
  margin-bottom: 25px;
  font-size: 2.5rem;
}

.pie-pagina .grupo-1 .box p{
  color: white;
  margin-bottom: .8rem;
}


.pie-pagina .grupo-1 .red-social{
  display: flex;
  flex-direction: column;
}

.pie-pagina .grupo-1 .red-social a{
  text-decoration: none;
  color: white;
  margin-left: 0;
}

.pie-pagina .grupo-2{
  background: rgb(1, 1, 59);
  padding: 1rem .7rem;
  text-align: center;
  color: white;
} 

.pie-pagina .grupo-2 small{
  font-size: 1rem;
}

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
     grid-template-columns: 1fr;
  }
}