*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(fotos/ags.JPG);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.head{
  background: rgba(228, 228, 228, 0);
  z-index: 999;
  position: relative;
}

.head-1{
display: flex;
justify-content: center;
}

.nav{
  position: absolute;
  z-index: 999;

}

.nav-2{
position: absolute;
display: none;
opacity: 0;
}

.logo{
  max-width: 13rem;
}



.nav-list{
  display: flex;
  list-style-type: none;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}



.nav-list-2{
  display: flex;
  list-style-type: none;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.nav-list li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.abrir-menu{
  display: none;
}


.cerrar-menu{
  display: none;
}

.abrir-menu{
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

.cerrar-menu{
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: rgba(255, 255, 255, 0);;
}

.cerrar-menu img, .cerrar-menu img{
  width: 2rem;
}

.btn-img{
  z-index: 999;
  width: 2rem;
}

/*Logo centrado*/
header .fav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  z-index: 998;
}

.logo-res{
width: clamp(10rem, 3vw, 15rem);
position: relative;
display: none;
}

.equ{
z-index: 999;
display: flex;
padding:  1rem;
align-items: center;
justify-content: space-between;
}

.info{
  margin: 8rem 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 9rem 1fr 1fr;
  row-gap: .4rem;
}

.info-1{
  background: rgb(0, 0, 128);
}

.info-2{
  background: rgba(188, 188, 188, 0.2);
}

.info-1 h1{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.info-2 h1{
  padding: 2rem 0 0 0;
  text-align: center;
  font-size: 3rem;
  color: rgb(0, 0, 128);
}

.info-2 h2{
  text-align: center;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  padding-bottom: 2rem;
}

.info-mapa{
  position: relative;
}

.info-mapa .mapa{
  width: 100%;
  height: 100%;
}

.produc{
  background: rgba(230, 230, 230, 0.623);
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 1rem;
}

.produc-1:first-child{
  grid-column-start: span 2;
}

.produc-tit:nth-child(2){
  grid-column-start: span 2;
}

.produc-tit:nth-child(8){
  grid-column-start: span 2;
}

.produc-agr:nth-child(3){
  grid-column-start:span 2;
}

.produc-agr:nth-child(9){
  grid-column-start: span 2;
}

.produc-1 h1{
  text-align: center;
  position: relative;
  top: 50%;
  transform:translateY(-50%);
  font-size: 3rem;
  color: rgb(0, 0, 128);
}

.produc-tit{
  background: rgb(255, 255, 255);
}

.produc-tit h1{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: rgb(0, 0, 128);
}

.produc-agr{
  background: rgb(255, 255, 255);
}

.produc-agr h1{
  font-size: 2.5rem;
  padding: 1rem;
  color: rgb(0, 0, 128);
}

.produc-agr p{
  font-size: 1.3rem;
  padding: 0 1rem 2rem;
}

.produc-img{
  position: relative;
  background: rgba(188, 188, 188, 0.2);
}

.produc-img img{
  width: 50%;
}

@media screen and ( min-width:1061px){
  .info{
    grid-template-columns: 1fr 1fr;
    column-gap:.5rem ;
  }

  .info-1:first-child{
    grid-column-start: span 2;
  }

  .produc-1 h1{
    font-size: 5rem;
    padding: 2rem 0;
  }

  .produc-tit:nth-child(2){
    grid-column: 1/2;
  }

  .produc-agr:nth-child(3){
    grid-column:1/2;
  }

  .produc-img img{
    width: 20%;
  }

  .produc-img:nth-child(4){
    grid-column:1/2 ;
  }
  .produc-img:nth-child(5){
    grid-column:1/2 ;
  }

  .produc-img:nth-child(6){
    grid-column:1/2 ;
  }

  .produc-img:nth-child(7){
    grid-column:1/2 ;
  }

  .produc-tit:nth-child(8){
    grid-column:2/3;
    grid-row: 2;
  }

  .produc-agr:nth-child(9){
    grid-column: 2/3;
    grid-row: 3;
  }

  .produc-img:nth-child(10){
    grid-column: 2/3;
    grid-row: 4;
  }

  .produc-img:nth-child(11){
    grid-column: 2/3;
    grid-row:5;
  }

  .produc-img:nth-child(12){
    grid-column: 2/3;
    grid-row: 6;
  }

}

@media screen and (width <= 1061px){


  .logo-res{
    display: block;
  }

  .intro-p{
      line-height: 2.3rem;
  }

  .abrir-menu,.cerrar-menu{
    display: block;
  }

  .abrir-menu{
      position: relative;
      
  }

  .nav{
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .nav-2{
  display: none;
    opacity:0;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1.6rem 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .2);
    z-index: 999;
    background: rgb(255, 255, 255);
    height: 100vh;
    visibility: hidden;
  }

  .logo{
      position: relative;
      left: -3rem;
      display: none;
  }

  .nav-2.visible{
    opacity: 20;
    visibility: visible;
    background: rgb(0, 0, 128);
    height: 100vh;
    z-index: 1;
  }

  .nav-list-2{
    flex-direction: column;
    align-items: end;
    gap: 10px;
    position: relative;
  }

  .nav-list-2 li a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }

  .mapadiv{
      width: 100%;
      left: -10px;
  }
}



.pie-pagina{
  margin-top: 10rem;
  width: 100%;
  background: rgb(0, 0, 128);
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}

.pie-pagina .grupo-1 .box h2{
  color: white;
  margin-bottom: 25px;
  font-size: 2.5rem;
}

.pie-pagina .grupo-1 .box p{
  color: white;
  margin-bottom: .8rem;
}


.pie-pagina .grupo-1 .red-social{
  display: flex;
  flex-direction: column;
}

.pie-pagina .grupo-1 .red-social a{
  text-decoration: none;
  color: white;
  margin-left: 0;
}

.pie-pagina .grupo-2{
  background: rgb(1, 1, 59);
  padding: 1rem .7rem;
  text-align: center;
  color: white;
} 

.pie-pagina .grupo-2 small{
  font-size: 1rem;
}

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
     grid-template-columns: 1fr;
  }
}