*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(img/asesoria-man.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.head{
  background: rgba(228, 228, 228, 0);
  z-index: 999;
  position: relative;
}

.head-1{
display: flex;
justify-content: center;
}

.nav{
  position: absolute;
  z-index: 999;

}

.nav-2{
position: absolute;
display: none;
opacity: 0;
}

.logo{
  max-width: 13rem;
}



.nav-list{
  display: flex;
  list-style-type: none;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}



.nav-list-2{
  display: flex;
  list-style-type: none;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.nav-list li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.abrir-menu{
  display: none;
}


.cerrar-menu{
  display: none;
}

.abrir-menu{
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

.cerrar-menu{
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: rgba(255, 255, 255, 0);;
}

.cerrar-menu img, .cerrar-menu img{
  width: 2rem;
}

.btn-img{
  z-index: 999;
  width: 2rem;
}

/*Logo centrado*/
header .fav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  z-index: 998;
}

.logo-res{
width: clamp(10rem, 3vw, 15rem);
position: relative;
display: none;
}

.equ{
  z-index: 999;
display: flex;
padding:  1rem;
align-items: center;
justify-content: space-between;
}


.intro{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 1fr repeat(3, 18rem);
  margin: 4rem 1rem 8rem;
  text-align: center;
  gap: 1rem;
}

.intro-1{
  border-radius: .2rem;
  background: rgb(0, 0, 128);
  color: white;
}

.intro-1 h1{
  font-size: clamp(2rem, 5vw, 4rem);
  padding: 1rem;
}

.intro-2{
  box-shadow: 1px 1px 4px rgb(0, 0, 128);
  color: rgb(0, 0, 128);
}

.intro-2 p{
  text-align: center;
  font-size: clamp(1.2rem,1vw + 1rem,2rem);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
}

.intro-txt{
  position: relative;
  box-shadow: 1px 1px 4px rgb(0, 0, 128);
}

.imag-2{
  height: 50%;
  background: url(img/herbicidas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imag-1{
  height: 50%;
  background: url(img/agrooo.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imag{
  height: 50%;
  background: url(img/fuggggg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-txt img{
  position: relative;
  width: 100%;
}

.intro-txt h1{
  text-align: center;
  padding: 1rem;
  color: rgb(0, 0, 128);
  font-size: clamp(1.5rem,3vw,2.5rem);
}

.intro-txt p{
  padding: 0 1rem .5rem;
  text-align: center;
  font-size: clamp(1rem,2vw,1.2rem);
}

.servicios{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin: 2rem 1rem 7rem;
  gap: 1rem;
}

.serv{
  box-shadow: 1px 1px 4px rgb(0, 0, 128);
}

.serv-1{
  background: rgb(0, 0, 128);
  color: white;
}

.serv-1 h1{
  font-size: clamp(2rem,3vw,4rem);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
}

.serv h1{
  padding: 2rem 1rem 1rem;
  color: rgb(0, 0, 128);
  font-size:clamp(1.5rem,3vw,2.5rem);
}

.serv p{
  padding: 0 1rem 1rem;
  font-size: clamp(1.3rem ,2vw,1.2rem);
}

.asesor{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 1rem;
}

.asesor-1{
  background: rgb(0, 0, 128);
}

.asesor-1 h1{
  font-size: clamp(4rem, 5vw, 6rem);
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 1rem;
}

.asesor-1 p{
  font-size: clamp(1.2rem, 3vw, 2rem);
  text-align: center;
  padding: 2rem;
  color: rgb(255, 255, 255);
}

.asesor-2{
  text-align: center;
  box-shadow: 1px 1px 4px rgb(0, 0, 128);
  color: rgb(0, 0, 128);
  margin: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}

.asesor-2 img{
  width: 50%;
  border-radius: 5rem;
}

.asesor-2 h3{
  font-size: clamp(3rem, 6vw, 4rem);
  color: rgb(0, 0, 128);
}

.asesor-2 h2{
  font-size: 2rem;
  padding: 1rem;
}

.asesor-2 ul{
  list-style: none;
}

.asesor-2 li{
  font-size: 1.2rem;
  padding: .5rem;
}


@media screen and (min-width:750px){
  .intro{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 2.2fr 4.5fr;
  }

  .intro-1:first-child, .intro-2:nth-child(2){
      grid-column: 1/4;
  }

  .servicios{
      grid-template-columns:repeat(4, 1fr);
  }

  .serv-1:first-child{
      grid-column: 1/5;
  }

  .serv:nth-child(2){
      grid-column: 1/3;
  }

  .serv:nth-child(3){
      grid-column: 3/5;
      grid-row: 2;
  }

  .serv:nth-child(4){
      grid-column: 1/3;
      grid-row: 3;
  }

  .serv:nth-child(5){
      grid-column: 3/5;
      grid-row: 3;
  }

  .asesor{
      grid-template-columns: repeat(2, 1fr);
  }

  .asesor-1:first-child{
      grid-column: 1/3;
  }
}



@media screen and (min-width: 1060px){
  .intro{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2.2fr;
  margin: 8rem 4rem 10rem;
  gap: 1rem;
  }


  .intro-1:first-child{
      grid-column: 1/2;
  }

  .intro-2:nth-child(2){
      grid-column: 2/4;
  }

  .servicios{
      grid-template-columns: .7fr repeat(2,1fr);
      grid-template-rows: repeat(2, 1fr);
      margin: 2rem 4rem;
      gap: 1rem;
  }


  .serv-1:first-child{
      grid-column: 1/2;
      grid-row: 1/3;
  }

  .serv:nth-child(2){
      grid-column: 2/3;
  }

  .serv:nth-child(3){
      grid-column: 3/4;
      grid-row: 1;
  }

  .serv:nth-child(4){
      grid-column: 2/3;
      grid-row: 2;
  }

  .serv:nth-child(5){
      grid-column: 3/4;
      grid-row: 2;
  }
  

  .serv-1 h1{
      writing-mode: vertical-rl;
      text-orientation: upright;
      color: white;
      font-size: 4rem;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

  .asesor{
      grid-template-columns: repeat(3, 1fr);
      margin-top: 7rem;
  }  

  .asesor-1:first-child{
      grid-column: 1/5;
  }
}


@media screen and (width <= 1061px){


  .logo-res{
    display: block;
  }

  .intro-p{
      line-height: 2.3rem;
  }

  .abrir-menu,.cerrar-menu{
    display: block;
  }

  .abrir-menu{
      position: relative;
      
  }

  .nav{
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .nav-2{
  display: none;
    opacity:0;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1.6rem 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .2);
    z-index: 999;
    background: rgb(255, 255, 255);
    height: 100vh;
    visibility: hidden;
  }

  .logo{
      position: relative;
      left: -3rem;
      display: none;
  }

  .nav-2.visible{
    opacity: 20;
    visibility: visible;
    background: rgb(0, 0, 128);
    height: 100vh;
    z-index: 1;
  }

  .nav-list-2{
    flex-direction: column;
    align-items: end;
    gap: 10px;
    position: relative;
  }

  .nav-list-2 li a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }

  .mapadiv{
      width: 100%;
      left: -10px;
  }
}