*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(../img/asesoria-man.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.head{
  background: rgba(228, 228, 228, 0);
  z-index: 999;
  position: relative;
}

.head-1{
display: flex;
justify-content: center;
}

.nav{
  position: absolute;
  z-index: 999;

}

.nav-2{
position: absolute;
display: none;
opacity: 0;
}

.logo{
  max-width: 13rem;
}



.nav-list{
  display: flex;
  list-style-type: none;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}



.nav-list-2{
  display: flex;
  list-style-type: none;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.nav-list li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.abrir-menu{
  display: none;
}


.cerrar-menu{
  display: none;
}

.abrir-menu{
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

.cerrar-menu{
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: rgba(255, 255, 255, 0);;
}

.cerrar-menu img, .cerrar-menu img{
  width: 2rem;
}

.btn-img{
  z-index: 999;
  width: 2rem;
}

/*Logo centrado*/
  header .fav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    z-index: 998;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 300;
  }

.logo-res{
width: clamp(10rem, 3vw, 15rem);
position: relative;
display: none;
}

.equ{
  z-index: 999;
display: flex;
padding:  1rem;
align-items: center;
justify-content: space-between;
}

  .ini{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
    margin: 5rem 1rem;
  }

  .ini-1{
    background: rgb(0,0,128);
  }

  .ini-1 h1{
    font-size: clamp(4rem, 3vw, 6rem);
    color: rgb(255, 255, 255);
    font-weight: 900;
  }

  .ini-2 h1{
    color: rgb(0, 0, 128);
    padding: 1rem;
    font-size: clamp(2rem, 2.5vw, 3rem);
    font-weight: 700;
  }

  .ini-2 p{
    font-weight: 400;
    font-size: clamp(1rem, 1.7vw, 2rem);
  }

.tit-ser{
    text-align: center;
    padding: 10% 5% 0;
    color: rgb(0, 0, 128);
    font-size: clamp(2.8rem, 6vw, 4rem);
}

.tit-ser-h2{
    text-align: center;
    color: rgb(4, 107, 13);
    font-size: clamp(1.3rem, 4vw, 2rem);
}

.servicios{
    display: grid;
    grid-template-columns: 1fr;
    margin: 5%;
    text-align: center;
    gap: 5rem;
}

.servicios-1{
    box-shadow: 1px 1px 20px rgb(160, 160, 160);
    display: grid;
    grid-template-columns: 1fr;
    background: rgb(0, 0, 128);
    color: white;
}

.servicios-2{
    box-shadow: 1px 1px 20px rgb(160, 160, 160);
    display: grid;
    grid-template-columns: 1fr;
    background: rgb(4, 107, 13);
    color: white;
}

.serv-txt h1, .serv-txt-2 h1{
    font-size: 250%;
    padding: 7%;
}

.serv-txt p, .serv-txt-2 p{
    font-size: 120%;
    padding: 0 1rem 1rem;
}

.serv-img-1 img, .serv-img-2 img, .serv-img-3 img, .serv-img-4 img{
    width: 100%;
}

  .ven{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
    margin: 0rem 1rem;
    background: rgba(173, 173, 173, 0.2);
    padding: 3rem 1rem;
   }

   .ven-1 h1{
    color: rgb(0, 0, 128);
    font-size: clamp(1.8rem, 3vw, 4rem);
    font-weight: 700;
   }

   .ven-1 small{
    color: rgb(4, 107, 13);
    font-weight: 800;
    font-size: clamp(1rem,1.5vw,2rem);
   }

   .ven-2{
    background: rgb(0, 0, 128);
    color: white;
    padding:1rem;
    border-radius: 1rem;
     display: grid;
  grid-template-rows:1fr 1fr;
  gap: 1rem;
   }

.ven-2-img{
  background: url(https://atriainnovation.com/uploads/2023/11/man-farmer-standing-in-wheat-field-and-controlling-drone-technologies-in-agriculture-concept-scaled-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ven-2-img-1{
  background: url(https://sotoser.com/wp-content/uploads/2023/07/Control-de-plagas-y-enfermedades-en-el-jardin-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ven-2-img-3{
  background: url(https://mexico.infoagro.com/wp-content/uploads/2020/04/soil-row-crops.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

   .ven-2 h1{
    font-size: clamp(2rem, 1.5vw, 3rem);
    padding-bottom: 1rem;
   }

   .ven-2 p{
    font-size: clamp(1rem, 1.2  vw, 2rem);
   }

   .asesor{
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem 1rem;
    text-align: center;
    gap: 2rem;
   }

   .asesor-1 h1{
    color: rgb(0, 0, 128);
    font-size: clamp(1.8rem, 5vw, 4rem);
    font-weight: 700;
    padding-bottom: .5rem;
   }
   
   .asesor-1 p{
    font-size: clamp(1rem,1.5vw,2rem);
   }

   .asesor-2{
    position: relative;
    border: .1rem solid rgb(0, 0, 128);
    padding: 1rem;
    border-radius: 1rem;
   }

   .asesor-2 img{
    width: 70%;
    border-radius: 5rem;
    padding: 1rem;
}

    .asesor-2 h3{
        color: rgb(0, 0, 128);
        font-size: clamp(2rem, 3vw, 4rem);
    }
    
    .asesor-2 small{
        font-size: clamp(1rem, 1vw, 2rem);
    }


    .asesor-2 ul{
        padding: 1rem;
        list-style: none;
    }

    .asesor-2 ul h2{
        color: rgb(0, 0, 128);
    }
   
    .asesor-2 li{
        padding: .5rem;
    }


  @media screen and (min-width:600px) {

     .servicios{
        padding: 0%;
        text-align: left;
        gap: 2rem;

    }

    .servicios-1,.servicios-2{
        grid-template-columns: repeat(2,1fr);
    }

    .serv-img-1 img, .serv-img-2 img, .serv-img-3 img, .serv-img-4 img{
        display: none;
    }

    .serv-img-1{
        background: url(https://aqmlaboratorios.com/wp-content/uploads/2017/05/An%C3%A1lisis-de-suelos.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    .serv-img-2{
        background: url(https://econatur.net/wp-content/uploads/2020/12/DSC8567.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      .serv-img-3{
        background: url(https://imagenzac.com.mx/wp-content/uploads/2020/05/WhatsApp-Image-2020-05-24-at-4.22.48-PM.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      .serv-img-4{
        background: url(https://jocejob.com/wp-content/uploads/c4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
    .ini{
        grid-template-columns: repeat(2, 1fr);
    }

    .ini-1:first-child{
        grid-row: 1/4;
    }

    .dat-gen{
      grid-template-columns: repeat(2, 1fr);
    }

    .ini-1-1{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .ven{
        grid-template-columns: repeat(2,1fr);
        gap: 3rem 2rem;
    }

    .ven-1:first-child{
        grid-column: 1/3;
    }

    .asesor{
        grid-template-columns: repeat(3,1fr);
    }

    .asesor-1:first-child{
        grid-column: 1/4;
    }
  }

  @media screen and (min-width:1024px){

    .servicios{
        grid-template-columns: repeat(2,1fr);
    }
    .ini{
      margin: 25vh 3rem;
      gap: 1rem 3rem;
    }

    .ini-2 h1{
      padding: .5rem 0;
    }

    .dat{
      padding: 1rem 2rem;
    }

    .datos{
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2,1fr);
      text-align: left;
    }

    .ini-2{
      text-align: left;
    }

    .ven{
      grid-template-columns: repeat(3,1fr);
      padding: 5rem 2rem;
      margin-bottom: 25vh;
    }

    .ven-1:first-child{
      grid-column: 1/4;
    }

    .asesor{
      grid-template-columns: repeat(4,1fr);
    }

    .asesor-1:first-child{
      grid-column: 1/5
    }
    
  }



@media screen and (width <= 1061px){


  .logo-res{
    display: block;
  }

  .intro-p{
      line-height: 2.3rem;
  }

  .abrir-menu,.cerrar-menu{
    display: block;
  }

  .abrir-menu{
      position: relative;
      
  }

  .nav{
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .nav-2{
  display: none;
    opacity:0;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1.6rem 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .2);
    z-index: 999;
    background: rgb(255, 255, 255);
    height: 100vh;
    visibility: hidden;
  }

  .logo{
      position: relative;
      left: -3rem;
      display: none;
  }

  .nav-2.visible{
    opacity: 20;
    visibility: visible;
    background: rgb(0, 0, 128);
    height: 100vh;
    z-index: 1;
  }

  .nav-list-2{
    flex-direction: column;
    align-items: end;
    gap: 10px;
    position: relative;
  }

  .nav-list-2 li a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }

  .mapadiv{
      width: 100%;
      left: -10px;
  }
}
