@font-face {
    font-family: 'LATO';
    src: url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap') format('woff2');
   }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
  }
  
  header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(../fotos/sistema.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  /*Video de fondo*/
  .video-1{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .video-1 video{
    z-index: 1;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }
  
  .head{
    background: rgba(228, 228, 228, 0);
    z-index: 999;
    position: relative;
  }
  
  .head-1{
  display: flex;
  justify-content: center;
  }
  
  .nav{
    position: absolute;
    z-index: 999;
  
  }
  
  .nav-2{
  position: absolute;
  display: none;
  opacity: 0;
  }
  
  .logo{
    max-width: 13rem;
  }
  
  
  
  .nav-list{
    display: flex;
    list-style-type: none;
    gap: 6rem;
    align-items: center;
    justify-content: center;
  }
  
  
  
  .nav-list-2{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }
  
  .nav-list li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  
  .abrir-menu{
    display: none;
  }
  
  
  .cerrar-menu{
    display: none;
  }
  
  .abrir-menu{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
  }
  
  .cerrar-menu{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background: rgba(255, 255, 255, 0);;
  }
  
  .cerrar-menu img, .cerrar-menu img{
    width: 2rem;
  }
  
  .btn-img{
    z-index: 999;
    width: 2rem;
  }
  
  /*Logo centrado*/
  header .fav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    z-index: 998;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 300;
  }
  
  .logo-res{
  width: clamp(10rem, 3vw, 15rem);
  position: relative;
  display: none;
  }
  
  .equ{
  z-index: 999;
  display: flex;
  padding:  1rem;
  align-items: center;
  justify-content: space-between;
  }

  .intro-dad{
    margin: 20vh 5vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: .5rem;
    box-shadow: 1px 1px 100px 1px rgb(218, 218, 218);
  }
  
  .intro-1{
    padding: 1rem;
  }

  .intro-1 h1{
    color: rgb(0, 0,128);
    font-size: clamp(2.8rem, 6vw, 4rem);
  }
  
  .intro-1 small{
    font-size: clamp(1.3rem, 4vw, 2rem);
    color: rgb(192, 192, 192);
  }

  .intro-1 p{
    padding: 2rem 0;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
  }
  
  .intro-son-1{
    background: url(../fotos/tubos.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  .intro-3{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 30vh 2rem;
    gap: 4rem 2rem;
    text-align: center;
  }
  
  .intro-3-0 h1{
    font-size: clamp(2rem, 3.5vw, 4rem);
    color: rgb(0, 0, 128);
  }

  .intro-3-0 small{
    font-size: clamp(1.2rem, 2.5vw, 3rem);
    color: rgb(82, 82, 82);
  }
  
  .intro-3-1 h1{
    color: rgb(0, 0, 128);
    font-size: clamp(1.8rem, 2.5vw, 2.8rem);
    padding: 1.5rem 0;
  }

  .intro-3-1 p{
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  }

  .intro-3-1 img{
    width: 20%;
  }


  .equipos{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    background: rgba(0, 0, 0, .2);
    padding: 2rem 1rem;
    text-align: center;
    margin: 0 1rem;
    box-shadow: 1px 1px 10px 1px rgb(192, 192, 192);
  }

  .equipos-tit h1{
    font-size: clamp(1.8rem, 3.5vw, 4rem);
    color: rgb(0, 0, 128);
    margin-bottom: .5rem;
    font-weight: 700;
  }

  .equipos-tit p{
    font-size: clamp(1.2rem, 2.5vw, 3rem);
    color: rgb(82, 82, 82);
    font-weight: 300;
}


    .txt-eq strong{
        color: rgb(0, 0, 128);
        font-size: clamp(1.5rem, 2.5vw, 2.8rem);
    }

    .txt-eq p{
      font-size: clamp(1rem, 1.5vw, 1.8rem);
      padding: 1rem;
    }
    

    .img-eq img{
      max-width: 100%;
    }

    /*.img-eq{
      margin-top: 3rem;
      position: relative;
      min-height: 10rem;
      background: url(fotos/tuberias.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }*/

     .img-eq-1{
      margin-top: 1rem;
      position: relative;
      height: 10rem;
      background: url(../fotos/gotero.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .img-eq-2{
      margin-top: 1rem;
      position: relative;
      height: 10rem;
      background: url(../fotos/filtros.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .img-eq-3{
      margin-top: 1rem;
      position: relative;
      height: 10rem;
      background: url(../fotos/concectores.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .img-eq-4{
      margin-top: 1rem;
      position: relative;
      height: 10rem;
      background: url(../fotos/valvulas.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .img-eq-5{
      margin-top: 1rem;
      position: relative;
      height: 10rem;
      background: url(../x|fotos/controlador.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }


@media screen and (min-width:767px) {

    .equipos{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .equipos-tit:first-child{
        grid-column: 1/3;
    }

    .intro-dad{
      grid-template-columns: repeat(2,1fr);
    }

    .intro-3{
      grid-template-columns: repeat(2,1fr)
}
    .intro-3-0:first-child{
  grid-column: 1/3;
}
}

@media screen and (min-width:1024px){
    

    .equipos{
      margin: 0 2rem;
    }

    .img-eq, .img-eq-1, .img-eq-2, .img-eq-3, .img-eq-4, .img-eq-5{
      max-height: 12rem;
    }

    
    .intro-3{
      grid-template-columns: repeat(3,1fr);
    }

    .intro-3-0:first-child{
      grid-column: 1/4;
      text-align: center;
    }



    .equipos{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        
    }

    .equipos-tit:first-child{
        grid-column: 1/4;
    }
}








  @media screen and (width <= 1061px){


    .logo-res{
      display: block;
    }
  
    .intro-p{
        line-height: 2.3rem;
    }
  
    .abrir-menu,.cerrar-menu{
      display: block;
    }
  
    .abrir-menu{
        position: relative;
        
    }
  
    .nav{
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  
    .nav-2{
    display: none;
      opacity:0;
      display: flex;
      flex-direction: column;
      align-items: end;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 1.6rem 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .2);
      z-index: 999;
      background: rgb(255, 255, 255);
      height: 100vh;
      visibility: hidden;
    }
  
    .logo{
        position: relative;
        left: -3rem;
        display: none;
    }
  
    .nav-2.visible{
      opacity: 20;
      visibility: visible;
      background: rgb(0, 0, 128);
      height: 100vh;
      z-index: 1;
    }
  
    .nav-list-2{
      flex-direction: column;
      align-items: end;
      gap: 10px;
      position: relative;
    }
  
    .nav-list-2 li a{
      color: white;
      text-decoration: none;
      font-size: 2rem;
    }
  
    .mapadiv{
        width: 100%;
        left: -10px;
    }
  }
